{% extends 'gmsweb/layout.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div style="margin-left:20%;">
        <img src="{% static 'imgs/icon.png' %}" width="60%" alt="">
    </div>

    <div style="width:100%; height:50px;"></div>
    
    <h5>
        GMS KOREA chào mừng các bạn du học sinh đến Hàn Quốc<br>
        Trong thời gian các bạn sinh sống và học tập tại Hàn Quốc chúng tôi sẽ trực tiếp quản lý và giúp đỡ các bạn.<br>
        Khi có những điểm thắc mắc, những điểm chưa hài lòng ...<br>
        thông qua phần mềm này các bạn hãy gửi câu hỏi cho chúng tôi và chúng<br>
        tôi sẽ trả lời các bạn một cánh nhanh và chính xác nhất .
    </h5>
</div>
{% endblock %}