{% extends 'admin_page/layout.html' %}

{% block content %}
<div class="container mt-5">

<div class="jumbotron" style="background-color:crimson;">
    <h1 class="display-5">Hello {{ request.user }}, </br>Welcome to the GMS Admin page</h1>
    <p class="lead" style="color:bisque;"></p>
</div>


<div style="margin-left:5%;">
    <a href="{% url 'admin-page:profile-list' %}">
    <div class="card text-white bg-primary mb-3" style="width:30%;float:left">
        <div class="card-header">User</div>
        <div class="card-body">
            <h4 class="card-title">유저관리 페이지</h4>
            <p class="card-text">유저들을 관리합니다.<br>유저 상세내역들을 조회해 보세요</p>
        </div>
    </div>
    </a>

    <a href="{% url 'admin-page:inquiry-list' %}">
    <div class="card text-white bg-secondary mb-3 ml-3 mr-3" style="width:30%;float:left">
        <div class="card-header">QnA</div>
        <div class="card-body">
            <h4 class="card-title">QnA 문의 관리 페이지</h4>
            <p class="card-text">학생들의 1:1 문의를 관리합니다.<br>학생들의 질문을 관리해 보세요</p>
        </div>
    </div>
    </a>

    <a href="{% url 'admin-page:notice-list' %}">
    <div class="card text-white bg-success mb-3" style="width:30%;">
        <div class="card-header">Notice</div>
        <div class="card-body">
            <h4 class="card-title">공지 관리 페이지</h4>
            <p class="card-text">공지사항을 관리합니다.<br>일반공지, 설문조사 등을 공지합니다.</p>
        </div>
    </div>
    </a>

</div>

</div>
{% endblock %}